In [1]:
import pandas as pd

# Update Beetle Image Metadata files for viewer

The viewer likely needs unique rows per image for the full-sized images (`group_images`, assuming it's not truly limited by their size) and we want to add more info to the file for the resized images so they can be viewed by `genus`, `species`, `NEON_sampleID`, and `siteID`

In [2]:
# at commit 0420eb8c5d582b83220f16aa2f11f36e2e832674
df = pd.read_csv("https://huggingface.co/datasets/imageomics/2018-NEON-beetles/resolve/main/BeetleMeasurements_resized.csv", low_memory = False)
df.head()

          pictureID                               file_name
0  A00000046175.jpg  beetle_images_resized/A00000046175.jpg
1  A00000022197.jpg  beetle_images_resized/A00000022197.jpg
2  A00000051179.jpg  beetle_images_resized/A00000051179.jpg
3  A00000040712.jpg  beetle_images_resized/A00000040712.jpg
4  A00000041430.jpg  beetle_images_resized/A00000041430.jpg

In [3]:
# at commit 54c160e18d3032e4f13003691bb514db4eef4ece
df_detail = pd.read_csv("https://huggingface.co/datasets/imageomics/2018-NEON-beetles/resolve/main/BeetleMeasurements.csv", low_memory = False)
df_detail.head(2)

,pictureID,scalebar,cm_pix,individual,structure,lying_flat,coords_pix,dist_pix,dist_cm,scientificName,...,siteID,site_name,plotID,user_name,workflowID,genus,species,combinedID,measureID,file_name
0,A00000032929.jpg,"{""x1"": 815, ""y1"": 244, ""x2"": 892, ""y2"": 244}",77.0,1,ElytraLength,Yes,"{""x1"": 1055, ""y1"": 154, ""x2"": 1163, ""y2"": 149}",108.115679,1.404100,Carabus goryi,...,HARV,Harvard Forest & Quabbin Watershed NEON,HARV_001,IsaFluck,21652,Carabus,goryi,A00000032929_1,581c1309-6b06-4445-9ed5-55ebe366f6ed,group_images/A00000032929.jpg
1,A00000032929.jpg,"{""x1"": 815, ""y1"": 244, ""x2"": 892, ""y2"": 244}",77.0,1,ElytraWidth,Yes,"{""x1"": 1053, ""y1"": 129, ""x2"": 1057, ""y2"": 179}",50.159745,0.651425,Carabus goryi,...,HARV,Harvard Forest & Quabbin Watershed NEON,HARV_001,IsaFluck,21652,Carabus,goryi,A00000032929_1,464836fd-853e-40d5-861c-8c279aec6a55,group_images/A00000032929.jpg

In [4]:
print(df["pictureID"].nunique(), df.shape)

577 (577, 2)

In [5]:
cols_to_add = ["scientificName", "genus", "species", "NEON_sampleID", "siteID"]

In [6]:
for pic_id in list(df["pictureID"]):
    temp = df_detail.loc[df_detail["pictureID"] == pic_id].copy()
    for col in cols_to_add:
        df.loc[df["pictureID"] == pic_id, col] = temp[col].values[0]

df.head()

,pictureID,file_name,scientificName,genus,species,NEON_sampleID,siteID
0,A00000046175.jpg,beetle_images_resized/A00000046175.jpg,Pterostichus lachrymosus,Pterostichus,lachrymosus,MLBS_005.20180814.PTELAC2.01,MLBS
1,A00000022197.jpg,beetle_images_resized/A00000022197.jpg,Apristus sp.,Apristus,NaN,SRER_008.S.20180523.APRSP.01,SRER
2,A00000051179.jpg,beetle_images_resized/A00000051179.jpg,Euryderus grossus,Euryderus,grossus,CPER_003.20180719.EURGRO.01,CPER
3,A00000040712.jpg,beetle_images_resized/A00000040712.jpg,Bembidion muscicola,Bembidion,muscicola,TREE_005.W.20180828.BEMMUS.01,TREE
4,A00000041430.jpg,beetle_images_resized/A00000041430.jpg,Pasimachus depressus,Pasimachus,depressus,KONZ_002.W.20180730.PASDEP.01,KONZ

In [7]:
df.to_csv("../data/BeetleMeasurements_resized.csv", index = False)